.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.verticalCenter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
header.mui-bar-nav {
  border-bottom: 1px solid #e5e5e5;
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0;
}
.mui-bar-nav {
  box-shadow: none;
}
.mui-bar {
  background-color: #fff;
}
.mui-content {
  background-color: #eee;
}
.mui-bar-tab {
  background-color: #fff;
}
.mui-bar-tab .mui-tab-item {
  color: #666;
  height: 100%;
}
.mui-bar-tab > a {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}
.mui-bar-tab > a.rightBorder {
  position: relative;
}
.mui-bar-tab > a.rightBorder:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 60%;
  background-color: #e5e5e5;
  top: 20%;
  right: 0;
}
.user-bar-tab {
  padding: 5px 0;
}
.user-bar-tab > a {
  padding: 5px 0;
}
.user-bar-tab > a .mui-icon {
  padding-top: 0;
  padding-bottom: 0;
}
.user-bar-tab > a .mui-icon ~ .mui-tab-label {
  font-size: 11px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-bar-tab > a .mui-text {
  width: auto;
  height: auto;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 18px;
}
.user-bar-tab > a .mui-tab-label {
  color: #999;
}
.mui-input-group:before,
.mui-input-group:after {
  height: 0;
}
.mui-input-group .mui-input-row:last-child:after {
  height: 0;
}
.mui-table-view:before,
.mui-table-view:after {
  height: 0;
}
.mui-table-view .mui-media-object.head-img {
  border-radius: 50%;
}
.mui-table-view .mui-media-object.icon-img {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.mui-navigate-right .mui-tip {
  right: 35px;
}
.mui-tip {
  font-size: 11px;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  color: #bbb;
}
textarea,
input {
  font-size: 14px;
}
.address-mui-table-view > .mui-table-view-cell > a > .mui-media-body > .mui-ellipsis {
  padding: 5px 0;
}
.mui-toast-message {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.mui-btn.mui-btn-long {
  min-width: 225px;
  border-radius: 22px;
  padding: 10px 12px;
  font-size: 16px;
}
.mui-input-range input[type='range'] {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 17px 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  outline: none;
  background-color: #016df1;
  -webkit-appearance: none !important;
}
.mui-input-range input[type='range']::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #016df1;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none !important;
}
.mui-btn-disabled {
  background-color: #c8c7cc;
  color: #fff;
}
.mui-input-range .mui-tooltip {
  width: auto;
}
