.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.verticalCenter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body {
  color: #555;
  background-color: #eee;
}
.blueColor {
  color: #016df1 !important;
}
.linkColor {
  color: #007aff !important;
}
.redColor {
  color: #fe3824 !important;
}
.greyColor {
  color: #c8c7cc !important;
}
.greenColor {
  color: #1cc100 !important;
}
.title {
  font-size: 14px;
  padding: 15px 10px 5px;
  color: #999;
}
.verticalSplitLine {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 1px;
  height: 80%;
}
.innerCenter > img {
  display: block;
  margin: 0 auto;
}
.innerCenter > div {
  margin: 0 auto;
  text-align: center;
}
.userRulesPopover {
  width: 85%;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 20px;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
}
.userRulesPopover > h1 {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.userRulesPopover > div {
  border-top: 1px solid #e5e5e5;
  text-align: left;
  padding: 16px 0;
}
.userRulesPopover > div > h4 {
  font-size: 15px;
  color: #666;
  text-align: left;
}
.userRulesPopover > div > p {
  margin-bottom: 20px;
}
.userRulesPopover > div > p:last-child {
  margin-bottom: 0;
}
.fixedCartButton {
  position: fixed;
  bottom: 65px;
  right: 20px;
}
.fixedCartButton > img {
  display: block;
  width: 45px;
  height: 45px;
}
.smallCartIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 11px;
  right: 15px;
}
