<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>云书</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/mui.picker.min.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <link rel="stylesheet" href="../source/css/login.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/mui.picker.min.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js"></script>
    <script src="../source/js/public.js"></script>
</head>

<body>
    <div class="mui-content" style="background-color: #fff;">
        <h1 style="margin: 61px auto;width: 247px;height: 19px;font-size: 19px;font-weight: 600;text-align: center;color: #333333;">立即申请成为<span class="blueColor">云书</span><span class="yellowColor">/</span>CEO</h1>
        <form class="mui-input-group ys-input-group" style="margin: 0 40px;" v-cloak>
            <div class="mui-input-row">
                <input type="text" class="mui-input-clear" placeholder="请输入姓名" v-model="name">
            </div>
            <div class="mui-input-row">
                <input id="sexInput" type="text" placeholder="请选择性别" v-model="sex">
            </div>
            <div class="mui-input-row">
                <input type="text" class="mui-input-clear" placeholder="请选择城市" v-model="city" v-tap="cityChoose">
            </div>
            <div class="mui-input-row">
                <input type="text" class="mui-input-clear" placeholder="请选择学校" v-model="school" v-tap="schoolChoose">
            </div>
            <div class="mui-input-row">
                <input type="text" class="mui-input-clear" placeholder="请输入手机号" v-model="phone">
            </div>
            <div class="mui-input-row">
                <input type="text" placeholder="请输入验证码" v-model="verifyCode">
                <div class="mui-tip" :class="{linkColor:restTime<=0}" v-tap="getMessage">{{tipText}}</div>
            </div>
        </form>
        <div class="innerCenter" style="margin-top: 60px;">
            <div>
                <div id="applyCeoButton" class="mui-btn mui-btn-primary mui-btn-long" style="border-radius: 5px;color:#4D99F5" v-bind:style="{color: buttonColor}" v-tap="applyCeo">提交申请</div>
            </div>
        </div>
    </div>
    <div id="applyCeo_userSexSheet" class="mui-popover mui-popover-bottom mui-popover-action ">
        <!-- 可选择菜单 -->
        <ul class="mui-table-view">
            <li class="mui-table-view-cell" v-tap="editSex('男')">
                <a>男</a>
            </li>
            <li class="mui-table-view-cell" v-tap="editSex('女')">
                <a>女</a>
            </li>
        </ul>
        <!-- 取消菜单 -->
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="#" v-tap.prevent="cancelEdit"><b>取消</b></a>
            </li>
        </ul>
    </div>
    <script>
    mui.init();
    var picker = new mui.PopPicker();
    $("#sexInput").on('tap', function() {
        mui("#applyCeo_userSexSheet").popover('toggle');
        $("input").blur();
    });
    var vm = new Vue({
        el: "body",
        data: {
            name: "",
            sex: "",
            city: "",
            cityId: "",
            school: "",
            schoolId: "",
            phone: "",
            buttonColor: "#4D99F5",
            verifyCode: "",
            restTime: 0,
            cityList: [],
            schoolList: []
        },
        computed: {
            tipText: function() {
                if (this.restTime <= 0) {
                    return "获取验证码"
                } else {
                    return "重新获取（" + this.restTime + "）"
                }
            },
            empty: function() {
                if (this.name !== "" && this.sex !== "" && this.city !== "" && this.school !== "" && this.phone !== "" && this.verifyCode !== "" && this.cityList.length && this.schoolList.length) {
                    return false
                } else {
                    return true
                }
            },
            buttonColor: function() {
                if (this.name !== "" && this.sex !== "" && this.city !== "" && this.school !== "" && this.phone !== "" && this.verifyCode !== "" && this.cityList.length && this.schoolList.length) {
                    return "#fff"
                } else {
                    return "#4D99F5"
                }
            }
        },
        methods: {
            editSex: function(sex) {
                this.sex = sex;
                mui("#applyCeo_userSexSheet").popover('hide');
            },
            cancelEdit: function() {
                mui("#applyCeo_userSexSheet").popover('hide')
            },
            cityChoose: function() {
                var data = [];
                var self = this;
                for (var i = 0; i < this.cityList.length; i++) {
                    data[i] = {
                        value: this.cityList[i].id,
                        text: this.cityList[i].name
                    }
                }
                picker.setData(data);
                picker.show(function(selectItems) {
                    console.log(selectItems);
                    self.city = selectItems[0].text;
                    self.cityId = selectItems[0].value;
                    // self.address.dormId = selectItems[0].value;
                    $.when(getSchoolList(selectItems[0].value)).done(function(data) {
                        self.$data.schoolList = data.data.schools;
                        self.school = "";
                        self.schoolId = "";
                    })
                });
            },
            schoolChoose: function(e) {
                var data = [];
                var self = this;
                if (!self.$data.schoolList.length) {
                    mui.toast("请先选择城市");
                    e.target.blur();
                } else {
                    for (var i = 0; i < self.schoolList.length; i++) {
                        data[i] = {
                            value: self.schoolList[i].id,
                            text: self.schoolList[i].name
                        }
                    }
                    picker.setData(data);
                    picker.show(function(selectItems) {
                        self.school = selectItems[0].text;
                        self.schoolId = selectItems[0].value;
                    });
                }

            },
            getMessage: function() {
                var self = this;
                if (self.restTime <= 0) {
                    $.when(sendMessageForApplyCeo(self.phone)).done(function(data) {
                        if (data.resultCode == 200) {
                            mui.toast("发送成功");
                            self.restTime = 60;
                            var _interval = setInterval(function() {
                                self.restTime--;
                                if (self.restTime <= 0) {
                                    window.clearInterval(_interval);
                                }
                            }, 1000)
                        }
                    });
                }
            },
            applyCeo: function() {
                var self = this;
                var _sex = "0";
                var nameReg = /^[\u4e00-\u9fa5]{0,}$/;
                var phoneReg = /^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/;
                if (self.sex == '女') {
                    _sex = "1";
                }
                if (self.empty) {
                    mui.toast("您还有未输入的内容");
                } else if (!phoneReg.test(self.phone)) {
                    mui.toast("请输入合法的手机号码");
                } else if (!nameReg.test(self.name)) {
                    mui.toast("请输入合法的姓名");
                } else {
                    $.when(applyToBeCeo(self.name, _sex, self.cityId, self.schoolId, self.phone, self.verifyCode)).done(function(data) {
                        if (data.resultCode == 200) {
                            mui.toast("申请成功");
                        }
                    })
                }
            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            $.when(getCityList()).done(function(data) {
                self.$data.cityList = data.data.cities;
            });
        },
        ready: function() {

        }
    })
    </script>
</body>

</html>
