<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>云书</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js?20160903"></script>
</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <div class="pay" v-cloak>
            <div class="amount" style="line-height:50px;padding-left: 15px;">
                <span class="greyColor">需支付：</span><span class="blueColor">{{payMoney|currency "¥"}}</span>
            </div>
            <button type="button" class="mui-btn mui-btn-success mui-btn-block sure greenBg" v-tap="changeMessage">
                {{payMoney>0?'微信支付':'零钱支付'}}
            </button>
        </div>
    </nav>
    <div class="mui-content" v-cloak>
        <div class="statusBar" v-if="countState">
            <div class="innerCenter" style="background-color:#ffa43e;padding-top: 11px;padding-bottom: 10px;">
                <div style="font-size: 15px;line-height: 1.33;color: #ffffff;">请于{{expireTime}}内付款
                    <br />超时订单将自动取消</div>
            </div>
        </div>
        <ul class="mui-table-view address-mui-table-view" style="margin-bottom: 10px;margin-top: 10px;">
            <li class="mui-table-view-cell" v-if="!detail.address">
                <a data-href="userPage_userInfo_addNewAddress.html?{{tradeNoObj}}" style="height: 70px;">
                    <div class="veryCenter">
                        <img class="imageIcon" style="width: 20px;" src="../source/webslice/4.1.5_address/address_add_icon.png" alt=""> 添加收货地址
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media" v-if="detail.address">
                <a class="mui-navigate-right" id="userPage_userInfo_link" data-href="userPage_userInfo_address.html?{{tradeNoObj}}">
                    <img class="mui-media-object mui-pull-left head-img" id="head-img" src="../source/images/location.png" style="width:18.5px;height:20.9px;margin-top:12px">
                    <div class="mui-media-body">
                        {{detail.name}} {{detail.phone}}
                        <p class='mui-ellipsis'>{{detail.address}}</p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mui-table-view icon-mui-table-view" style="margin-bottom: 10px;" v-if="detail.books">
            <li class="mui-table-view-cell">
                <img class="mui-media-object mui-pull-left icon-img" src="../source/images/booklogo.png" style="width:20px;height:20px;"> {{detail.books.name}}
            </li>
            <li class="mui-table-view-cell">
                <a v-for="book in detail.books.datas" data-href="indexPage_textbook.html?{{encode({bookId:book.id})}}">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-3">
                            <img style="width: 80%;" :src="book.path" />
                        </div>
                        <div class="mui-table-cell mui-col-xs-9">
                            <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis">{{book.title}}</h4>
                            <h6>作者：{{book.author}}</h6>
                            <h6>出版社：{{book.publisher}}</h6>
                            <span class="mui-h4 linkColor">¥0.00</span>
                            <span class="mui-h4 mui-pull-right">×1</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell">
                运费
                <span class="mui-tip" style="font-size: 14px;color: #666;">¥ <span>{{detail.books.expressPrice}}</span></span>
            </li>
            <li class="mui-table-view-cell">
                共{{detail.books.number}}件合计（含运费）：
                <span class="mui-tip linkColor" style="font-size: 14px;">¥ <span>{{detail.books.totalFee}}</span></span>
            </li>
        </ul>
        <ul class="mui-table-view icon-mui-table-view" style="margin-bottom: 10px;" v-if="detail.goods">
            <li class="mui-table-view-cell">
                <img class="mui-media-object mui-pull-left icon-img" src="../source/images/booklogo.png" style="width:20px;height:20px;"> {{detail.goods.name}}
            </li>
            <li class="mui-table-view-cell">
                <a v-for="book in detail.goods.datas" data-href="indexPage_panicBuy.html">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-3">
                            <img style="width: 80%;" :src="book.img" />
                        </div>
                        <div class="mui-table-cell mui-col-xs-9">
                            <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis">{{book.name}}</h4>
                            <h6>&nbsp; </h6>
                            <h6>&nbsp; </h6>
                            <span class="mui-h4 linkColor" style="">¥{{book.price}}</span>
                            <span class="mui-h4 mui-pull-right">×1</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell">
                运费
                <span class="mui-tip" style="font-size: 14px;color: #666;">¥ <span>{{detail.goods.expressPrice}}</span></span>
            </li>
            <li class="mui-table-view-cell">
                共{{detail.goods.number}}件合计（含运费）：
                <span class="mui-tip linkColor" style="font-size: 14px;">¥ <span>{{detail.goods.totalFee}}</span></span>
            </li>
        </ul>
        <form class="mui-input-group" style="margin-bottom: 10px;">
            <div class="mui-input-row">
                <label style="width: 25%;">备注</label>
                <input style="width: 75%;text-align: right;" type="text" placeholder="请输入备注" v-model="detail.message">
            </div>
        </form>
        <form class="mui-input-group" style="margin-bottom: 10px;">
            <div class="mui-input-row mui-checkbox" style="margin-bottom: 10px;">
                <label>
                    零钱 <span class="greyColor"> | 余额：¥ {{detail.myTotalChange}}</span>
                    <span class="mui-tip redColor" style="font-size: 14px;right: 40px;">-<span>{{changeMoney |currency "¥" }}</span></span>
                </label>
                <input class="smallCheckbox" type="checkbox" v-model="isChange" :true-value="changeMoney" :false-value="0">
            </div>
        </form>
    </div>
    <div id="loadPopover" class="mui-popover mui-popup loadPopover" style="width: 100px;padding: 10px;">
        <span class="mui-spinner imageIcon" style="margin-right: 10px;"></span><span class="mui-h5">载入中</span>
    </div>
    <script>
    mui.init();
    var vm = new Vue({
        el: "body",
        data: {
            detail: {
                books: []
            },
            isChange: 0,
            tradeNoObj: '',
            countState: false,
            nowTime: "",
            alertTime: 0
        },
        computed: {
            changeMoney: function() {
                var self = this;
                console.log(self.detail.myTotalChange > self.detail.totalFee);
                console.log(self.detail.myTotalChange);
                console.log(self.detail.totalFee);
                if (parseFloat(self.detail.myTotalChange) > parseFloat(self.detail.totalFee)) {
                    return self.detail.totalFee
                } else {
                    return self.detail.myTotalChange
                }
            },
            payMoney: function() {
                return this.detail.realFee - this.isChange
            },
            expireTime: function() {
                var time = this.detail.expireTime.split(" ")[0].split("-");
                var smallTime = this.detail.expireTime.split(" ")[1].split(":");
                var date = new Date(parseInt(time[0]), parseInt(time[1]) - 1, parseInt(time[2]), parseInt(smallTime[0]), parseInt(smallTime[1]), parseInt(smallTime[2]));
                var restTime = (date.getTime() - this.nowTime.getTime()) / 1000;
                var minutes = parseInt(restTime / 60);
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                var seconds = parseInt(restTime % 60);
                if (restTime > 0) {
                    return minutes + "分" + seconds + "秒";
                } else {
                    if (this.alertTime == 0) {
                        mui.alert("订单超时", "", ["确定"], function() {
                            mui.back();
                        });
                        this.alertTime++;
                    }
                    return "0";
                }

            }
        },
        watch: {

        },
        methods: {
            encode: function(data) {
                return encodeObj(data);
            },
            wechatPay: function() {
                var self = this;
                if (self.payMoney > 0) {
                    $.when(wechatPay(self.detail.tradeNumber, self.isChange)).done(function(data) {
                        if (data.resultCode == 200) {
                            var params = data.data.params;
                            var wcpayParams = {
                                appId: params.appId,
                                timestamp: params.timeStamp,
                                nonceStr: params.nonceStr,
                                package: params.packageValue,
                                signType: params.signType,
                                paySign: params.paySign,
                                success: function(res) {
                                    window.location.href = "cartPage_order_paySuccess.html?" + encodeObj({
                                        "orderNo": self.detail.tradeNumber
                                    });
                                }
                            };
                            wx.chooseWXPay(wcpayParams);
                        }
                        mui("#loadPopover").popover("toggle");
                    });
                } else {
                    mui("#loadPopover").popover("toggle");
                    mui.confirm("确定使用零钱支付吗？", " ", ["确定", "取消"], function(data) {
                        if (data.index == 0) {
                            $.when(changePay(self.detail.tradeNumber, self.isChange)).done(function(data) {
                                if (data.resultCode == 200) {
                                    console.log('changePay');
                                    window.location.href = "cartPage_order_paySuccess.html?" + encodeObj({
                                        "orderNo": self.detail.tradeNumber
                                    });
                                }
                            });
                        }
                    })
                }
            },
            changeMessage: function() {
                var self = this;
                mui("#loadPopover").popover("toggle");
                if (self.detail.message) {
                    $.when(changeMessage(self.detail.tradeNumber, self.detail.message)).done(function(data) {
                        if (data.resultCode == 200) {
                            self.wechatPay();
                        }
                    });
                } else {
                    self.wechatPay();
                }
            }
        },
        created: function() {
            var self = this;
            var params = getQueryData();
            if (!params) {
                mui.alert("查询参数错误", "", ["确定"], function() {
                    mui.back();
                });
            } else {
                self.tradeNoObj = encodeObj(params);
                var tradeNo = params.tradeNo ? params.tradeNo : params.orderNo;
                $.when(orderConfirm(tradeNo)).done(function(data) {
                    if (data.resultCode == 200) {
                        self.detail = data.data.order;
                        self.countState = true;
                        self.nowTime = new Date();
                        setInterval(function() {
                            self.nowTime = new Date();
                        }, 1000)
                    } else {
                        mui.alert("订单超时", "", ["确定"], function() {
                            mui.back();
                        });
                    }
                });
            }
        },
        ready: function() {

        }
    })
    </script>
</body>

</html>
