<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>云书</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/shoppingcar/shoppingcar.css">
    <link rel="stylesheet" href="../source/css/shoppingcar/shoppingcar_login.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js"></script>
</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <a data-href="indexPage.html" class="mui-tab-item">
            <span class="mui-icon">
                <img class="normal" src="../source/webslice/0_tabbar/home_tabbar_normal.png" alt="">
                <img class="selection" src="../source/webslice/0_tabbar/home_tabbar_selection.png" alt="">
            </span>
            <span class="mui-tab-label">首页</span>
        </a>
        <!--         <a data-href="discoveryPage.html" class="mui-tab-item">
            <span class="mui-icon">
                <img class="normal" src="../source/webslice/0_tabbar/detection_tabbar_normal.png" alt="">
                <img class="selection" src="../source/webslice/0_tabbar/detection_tabbar_selection.png" alt="">
            </span>
            <span class="mui-tab-label">发现</span>
        </a> -->
        <a class="mui-tab-item mui-active">
            <span class="mui-icon">
                <img class="normal" src="../source/webslice/0_tabbar/cart_tabbar_normal.png" alt="">
                <img class="selection" src="../source/webslice/0_tabbar/cart_tabbar_selection.png" alt="">
            </span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a data-href="userPage.html" class="mui-tab-item">
            <span class="mui-icon">
                <img class="normal" src="../source/webslice/0_tabbar/me_tabbar_normal.png" alt="">
                <img class="selection" src="../source/webslice/0_tabbar/me_tabbar_selection.png" alt="">
            </span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>
    <div class="mui-content mui-fullscreen" v-cloak>
        <div style="position:relative;height: 100%;">
            <div class="mui-slider-group" v-show="cartList.length!==0||goodsList.length!==0">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul class="mui-table-view" v-for="record in cartList">
                            <li class="mui-table-view-cell mui-media">
                                <div class="mui-slider-right mui-discabled">
                                    <a class="mui-btn mui-btn-red" style="transform: translate(0px, 0px);" v-tap="deleteItem(record.id,record,$index)">删除</a>
                                </div>
                                <div class="mui-slider-handle" style="height:80px;transform: translate(0px, 0px);">
                                    <div class="mui-input-row mui-checkbox mui-left">
                                        <label></label>
                                        <input class="smallCheckbox" name="checkbox1" :true-value="record.id" :false-value="false" type="checkbox" v-model="recordState[$index]">
                                    </div>
                                    <div class="number">
                                        ×1
                                    </div>
                                    <div class="mui-numbox" data-numbox-min="1">
                                        <!-- "-"按钮，点击可减小当前数值 -->
                                        <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                                        <input class="mui-numbox-input" type="number" />
                                        <!-- "+"按钮，点击可增大当前数值 -->
                                        <button class="mui-btn mui-numbox-btn-plus" type="button"><span class="mui-icon mui-icon-plusempty" style="color:#fff;position:absolute;top:1px;left:1px;"></span></button>
                                    </div>
                                    <div class="finish">
                                        | 完成
                                    </div>
                                    <div class="cont">
                                        <img class="mui-media-object mui-pull-left" :src="record.path">
                                        <div class="mui-media-body">
                                            <p class='mui-ellipsis name'>{{record.title}}</p>
                                            <p class='mui-ellipsis detail'>作者：{{record.author}}</p>
                                            <p class='mui-ellipsis detail'>出版社：{{record.publisher}}</p>
                                            <p class="linkColor">¥ 0.00</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="mui-table-view" v-for="record in goodsList">
                            <li class="mui-table-view-cell mui-media">
                                <div class="mui-slider-right mui-discabled">
                                    <a class="mui-btn mui-btn-red" style="transform: translate(0px, 0px);" v-tap="deleteItem(record.id,record,$index)">删除</a>
                                </div>
                                <div class="mui-slider-handle" style="height:80px;transform: translate(0px, 0px);">
                                    <div class="mui-input-row mui-checkbox mui-left">
                                        <label></label>
                                        <input name="checkbox1" type="checkbox" disabled>
                                    </div>
                                    <div class="number">
                                        ×{{record.number}}
                                    </div>
                                    <div class="mui-numbox" data-numbox-min="1">
                                        <!-- "-"按钮，点击可减小当前数值 -->
                                        <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                                        <input class="mui-numbox-input" type="number" />
                                        <!-- "+"按钮，点击可增大当前数值 -->
                                        <button class="mui-btn mui-numbox-btn-plus" type="button"><span class="mui-icon mui-icon-plusempty" style="color:#fff;position:absolute;top:1px;left:1px;"></span></button>
                                    </div>
                                    <div class="finish">
                                        | 完成
                                    </div>
                                    <div class="cont">
                                        <img class="mui-media-object mui-pull-left" :src="record.path">
                                        <div class="mui-media-body">
                                            <p class='mui-ellipsis name'>{{record.title}}</p>
                                            <p class='mui-ellipsis detail'> &nbsp;</p>
                                            <p class='mui-ellipsis detail'>颜色：{{record.color}}</p>
                                            <p class="linkColor">¥ {{record.price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pay" v-if="cartList.length!==0||goodsList.length!==0">
                <div class="mui-input-row mui-checkbox mui-left mui-pull-left">
                    <label style="padding: 16px 0 16px 35px;">
                        <p>全部</p>
                    </label>
                    <input class="smallCheckbox" name="checkbox1" value="Item 1" type="checkbox" style="left:5px;top:11px;" v-model="allState" :true-value="true" :false-value="false" v-tap="allSelect">
                </div>
                <div class="mui-pull-right" style="margin-right: 15px;padding: 14px 0;font-size: 15px;">
                    共{{choseList.length>6?6:choseList.length}}件合计：<span class="blueColor" style="font-size: 18px;">{{totalMoney|currency "¥"}}</span>
                </div>
                <a class="sure" v-tap.prevent="createOrder" data-href="#">
                    立即结算
                </a>
            </div>
            <div class="shop_logbox" v-if="cartList.length==0&&goodsList.length==0">
                <img src="../source/images/cbd.jpg">
                <div class="word">
                    购物车空空如也～
                </div>
                <a class="btn" data-href="indexPage.html" style="display:block">
                    随便逛逛
                </a>
            </div>
            <!--             <div class="shop_logbox">
                <img src="../source/images/pic.jpg">
                <div class="word">
                    请先登录
                </div>
                <a href="shoppingcar_empty.html">
                    <div class="btn">
                        登录
                    </div>
                </a>
            </div> -->
        </div>
    </div>
    <script>
    $(".edit").click(function(event) {
        $(this).toggle();
        $(this).next().toggle();
        $(this).nextAll(".finish").toggle();
    });
    $(".finish").click(function(event) {
        $(this).toggle();
        $(this).prev().toggle();
        $(this).prevAll(".edit").toggle();
    });
    //阻尼系数
    var deceleration = mui.os.ios ? 0.0006 : 0.0009;
    mui('.mui-scroll-wrapper').scroll({
        bounce: false,
        indicators: true, //是否显示滚动条
        deceleration: deceleration
    });
    mui.init();
    var vm = new Vue({
        el: "body",
        data: {
            cartList: [],
            recordState: [],
            allState: true,
            goodsList: []

        },
        computed: {
            choseList: function() {
                return this.recordState.filter(function(index) {
                    return index !== false
                });
            },
            totalMoney: function() {
                if (this.choseList.length == 0) {
                    return "0.00"
                } else if (this.choseList.length > 3) {
                    return "12.00"
                } else {
                    return "6.00"
                }
            },
            turnUrl: function() {
                return encodeObj(this.choseList.slice(0, 6))
            },
        },
        watch: {
            "cartList.length-choseList.length": function(val, oldVal) {
                if (val == 0) {
                    this.allState = true;
                } else {
                    this.allState = false;
                }
            }
        },
        methods: {
            allSelect: function() {
                var self = this;
                if (self.allState == true) {
                    for (var i = 0; i < self.cartList.length; i++) {
                        vm.recordState.$set(i, self.cartList[i].id);
                    }
                } else {
                    for (var i = 0; i < self.cartList.length; i++) {
                        vm.recordState.$set(i, false);
                    }
                }
            },
            deleteItem: function(id, record, index) {
                var self = this;
                mui.confirm("确定删除吗？", " ", ["<span class='redColor'>删除</span>", "取消"], function(data) {
                    console.log('test');
                    if (data.index == 0) {
                        $.when(deleteFromCart(id)).done(function(data) {
                            if (data.resultCode == 200) {
                                self.cartList.$remove(record);
                                self.recordState.splice(index, 1);
                            }
                        });
                    }
                })
            },
            createOrder: function() {
                var self = this;
                var data = self.choseList;
                var num = data.length;
                var ids = data.join(",");
                if (self.totalMoney > 0) {
                    $.when(createOrder(ids, num, "shoppingCart")).done(function(data) {
                        console.log(data);
                        if (data.resultCode == 200) {
                            var tradeNo = data.data.tradeNumber;
                            mui.openWindow({
                                // url: "cartPage_orderConfirm.html?" +encodeObj({"tradeNo":tradeNo })
                                // 林森，这里我不是很理解两个的区别，先用orderNo了
                                url: "cartPage_orderConfirm.html?" + encodeObj({
                                    "orderNo": tradeNo
                                })
                            })
                        }
                    });
                }else{
                    mui.toast("请选择要结算的商品");
                }
            },
            seeData: function(data) {
                return JSON.parse(JSON.stringify(data));
            }
        },
        created: function() {
            var self = this;
            $.when(cartList()).done(function(data) {
                console.log(data);
                if (data.resultCode == 200) {
                    if (data.data.carts) {

                        for (var j = 0, len = data.data.carts.length; j < len; j++) {
                            if (data.data.carts[j].type == 0) {
                                self.cartList.push(data.data.carts[j]);
                            } else {
                                self.goodsList.push(data.data.carts[j])
                            }
                        }
                        console.log(self.seeData(self.cartList));
                        console.log(self.seeData(self.goodsList));
                        for (var i = 0; i < self.cartList.length; i++) {
                            vm.recordState.$set(i, self.cartList[i].id);
                        }
                    }
                }
            });
        },
        ready: function() {

        }
    })
    </script>
</body>

</html>
