<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>云书</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js"></script>
</head>

<body>
    <!-- nav根据情况进行出现和隐藏 -->
    <nav class="mui-bar mui-bar-tab" v-if="data.orderStatus>0" v-cloak>
        <a id="applyRefundButton" class="linkColor" v-tap="applyRefund">
          申请退款
      </a>
        <div class="pay" style="display:none;">
            <div class="amount" style="line-height:50px;padding-left: 15px;">
                <span class="greyColor">需支付：</span><span class="blueColor">¥20.00</span>
            </div>
            <div class="sure greenBg">
                微信支付
            </div>
        </div>
    </nav>
    <div class="mui-content" v-if="showState" v-cloak>
        <div class="statusBar">
            <div class="innerCenter" style="background-color:#56be4b;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==4">
                <div style="font-size: 15px;line-height: 1.47;color: #ffffff;">您的订单已完成</div>
            </div>
            <div class="innerCenter" style="background-color:#ffa43e;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==0">
                <div style="font-size: 15px;line-height: 1.33;color: #ffffff;">请于09分59秒内付款
                    <br />超时订单将自动取消</div>
            </div>
            <div class="innerCenter" style="background-color:#ffa43e;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==1">
                <div style="font-size: 15px;line-height: 1.47;color: #ffffff;">您的包裹待发货</div>
            </div>
            <div class="innerCenter" style="background-color:#ffa43e;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==2">
                <div style="font-size: 15px;line-height: 1.47;color: #ffffff;">您的包裹正在运输途中</div>
            </div>
            <div class="innerCenter" style="background-color:#ffa43e;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==-2">
                <div style="font-size: 15px;line-height: 1.47;color: #ffffff;">售后处理中</div>
            </div>
            <div class="innerCenter" style="background-color:#ccc;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==-1">
                <div style="font-size: 15px;line-height: 1.47;color: #ffffff;">交易关闭（超时未付款）</div>
            </div>
            <div class="innerCenter" style="background-color:#ccc;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==-3">
                <div style="font-size: 15px;line-height: 1.47;color: #ffffff;">交易关闭（已退款）</div>
            </div>
            <div class="innerCenter" style="background-color:#ccc;padding-top: 11px;padding-bottom: 10px;" v-if="data.orderStatus==-4">
                <div style="font-size: 15px;line-height: 1.47;color: #ffffff;">交易关闭（手动关闭）</div>
            </div>
        </div>
        <ul class="mui-table-view mui-table-view-chevron" style="margin-bottom: 10px;">
            <li class="mui-table-view-cell mui-media" v-if="data.lastExpress">
                <a class="mui-navigate-right" id="userPage_userInfo_link" data-href="cartPage_logisticsInformation.html{{location}}" style="height:64px;">
                    <img class="mui-media-object mui-pull-left" src="../source/webslice/3.2_3.5placeorder&pay/logistics_icon.png" style="width: 22px;height: 20px;margin-top: 12px;margin-right: 20px;margin-left: 10px;">
                    <div class="mui-media-body" style="font-size: 12px;">
                        {{data.lastExpress}}
                        <p class='mui-ellipsis' style="font-size: 12px;">{{data.lastDate}}</p>
                    </div>
                    <span class="mui-tip"></span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media">
                <img class="mui-media-object mui-pull-left" src="../source/webslice/3.2_3.5placeorder&pay/address_gray.png" style="width: 21px;height: 23px;margin-top: 10px;margin-right: 20px;margin-left: 10px;">
                <div class="mui-media-body">
                    {{data.name}}<span style="margin-left: 10px;">{{data.phone}}</span>
                    <p class='mui-ellipsis'>{{data.address}}</p>
                </div>
                <span class="mui-tip"></span>
            </li>
        </ul>
        <ul class="mui-table-view icon-mui-table-view" style="margin-bottom: 10px;" v-if="books">
            <li class="mui-table-view-cell">
                <img class="mui-media-object mui-pull-left icon-img" src="../source/images/booklogo.png"> {{books.name}}
            </li>
            <li class="mui-table-view-cell">
                <a data-href="indexPage_textbook.html?{{encode({'bookId':book.id})}}" v-for="book in books.datas">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-3">
                            <img style="width: 80%;" :src="book.path" />
                        </div>
                        <div class="mui-table-cell mui-col-xs-9">
                            <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis">{{books.title}}</h4>
                            <h6>作者：{{book.author}}</h6>
                            <h6>出版社：{{book.publisher}}</h6>
                            <span class="mui-h4 linkColor">¥0.00</span>
                            <span class="mui-h4 mui-pull-right">×1</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell">
                运费
                <span class="mui-tip" style="font-size: 14px;color: #666;">¥ <span>{{books.expressPrice}}</span></span>
            </li>
            <li class="mui-table-view-cell">
                共{{books.datas?books.datas.length:0}}件合计（含运费）：
                <span class="mui-tip linkColor" style="font-size: 14px;">¥ <span>{{books.totalFee}}</span></span>
            </li>
        </ul>
        <ul class="mui-table-view icon-mui-table-view" style="margin-bottom: 10px;" v-if="goods">
            <li class="mui-table-view-cell">
                <img class="mui-media-object mui-pull-left icon-img" src="../source/images/booklogo.png"> {{goods.name}}
            </li>
            <li class="mui-table-view-cell">
                <a href="#" v-for="good in goods.datas">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-3">
                            <img style="width: 80%;" :src="good.img" />
                        </div>
                        <div class="mui-table-cell mui-col-xs-9">
                            <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis">{{good.name}}</h4>
                            <h6>&nbsp; </h6>
                            <h6>&nbsp; </h6>
                            <span class="mui-h4 linkColor">¥{{good.price}}</span>
                            <span class="mui-h4 mui-pull-right">×1</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell">
                运费
                <span class="mui-tip" style="font-size: 14px;color: #666;">¥ <span>{{goods.expressPrice}}</span></span>
            </li>
            <li class="mui-table-view-cell">
                共{{goods.number}}件合计（含运费）：
                <span class="mui-tip linkColor" style="font-size: 14px;">¥ <span>{{goods.totalFee}}</span></span>
            </li>
        </ul>
        <ul class="mui-table-view icon-mui-table-view" style="margin-bottom: 10px;">
            <li class="mui-table-view-cell">
                订单金额
                <span class="mui-tip" style="font-size: 14px;color: #666;">¥ <span>{{data.totalFee}}</span></span>
            </li>
            <li class="mui-table-view-cell">
                实付金额
                <span class="mui-tip linkColor" style="font-size: 14px;">¥ <span>{{data.realFee}}</span></span>
            </li>
        </ul>
        <div style="padding: 16px;line-height: 1;background-color: #fff;margin-bottom: 10px;">
            <div style="">
                <p>订单号：{{data.tradeNumber}}</p>
                <p>创建时间：{{data.creatTime}}</p>
                <p>付款时间：{{data.payTimes}}</p>
                <p>&nbsp;</p>
                <p>订单备注：{{data.message}}</p>
            </div>
        </div>
    </div>
    <script>
    mui.init();
    var params = getQueryData();
    if (!params) {
        mui.alert("查询参数错误", "", ["确定"], function() {
            // mui.back();
        });
    } else {
        console.log(params.status, params.orderId);
    }
    $("#applyRefundButton").on('tap', function() {
        mui.confirm("确定申请退款吗？", " ", ["<span class='textColor'>确定</span>", "取消"], function(data) {
            if (!data.index) {
                // 点击了确定 data.index将等于 -1
                mui.toast("申请成功，我们将尽快为您处理");
            }
        })
    });
    var vm = new Vue({
        el: "body",
        data: {
            orders: [],
            page: 1,
            books: [],
            showState: false,
            data: [],
            location: "",
            orderNo: "",
            goods:[]
        },
        computed: {},
        methods: {
            encode: function(data) {
                return encodeObj(data);
            },
            applyRefund: function(data) {
                var self = this;
                mui.confirm("确定申请退款吗？", " ", ["<span class='redColor'>确定</span>", "取消"], function(data) {
                    if (data.index == 0) {
                        $.when(applyRefund(self.orderNo)).done(function(data) {
                            if (data.resultCode) {
                                mui.toast("申请成功，我们将尽快为您处理");
                                mui.back();
                            }
                        });
                    }
                })
            }
        },
        created: function() {
            var self = this;
            self.location = window.location.search;
            var orderNo = getQueryData().orderNo;
            self.orderNo = orderNo;
            $.when(orderDetail(orderNo)).done(function(data) {
                console.log(data);
                self.$data.data = data.data.order;
                self.books = data.data.order.books;
                self.goods=data.data.order.goods;
                self.showState = true;
            });
        },
        ready: function() {

        }
    })
    </script>
</body>

</html>
