<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <link rel="stylesheet" href="../source/css/mui.picker.min.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/mui.picker.min.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js"></script>
</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <a class="rightBorder" :class='{"greyColor":empty}' v-tap="setDefault">
            设为默认地址
        </a>
        <a id="addNewAddressButton" :class="{greyColor:empty}" v-tap="save">
            保存
        </a>
    </nav>
    <div class="mui-content">
        <form class="mui-input-group" style="margin-top: 10px;">
            <div class="mui-input-row">
                <label>收件人</label>
                <input id="address_name" type="text" class="mui-input-clear" placeholder="请填写收件人姓名" value="" v-model="address.name">
            </div>
            <div class="mui-input-row">
                <label>联系电话</label>
                <input id="address_phone" type="text" class="mui-input-clear" placeholder="请填写收件人手机号" value="" v-model="address.phone">
            </div>
            <div class="mui-input-row">
                <label>学号</label>
                <input id="address_id" type="text" class="mui-input-clear" placeholder="请填写收件人学号" value="" v-model="address.studentNo">
            </div>
            <div class="mui-input-row">
                <label>学校</label>
                <input id="address_school" type="text" class="mui-input-clear" placeholder="请填写收件校园" value="" v-model="school" v-tap="schoolChoose">
            </div>
            <div class="mui-input-row">
                <label>宿舍园区</label>
                <input id="address_dom" type="text" class="mui-input-clear" placeholder="请选择宿舍园区" value="" v-model="dorm" v-tap="dormChoose">
            </div>
            <div class="mui-input-row">
                <label>寝室门牌</label>
                <input id="address_room" type="text" class="mui-input-clear" placeholder="请填写寝室门牌" value="" v-model="address.address">
            </div>
        </form>
    </div>
    <script>
    mui.init();
    // window.addEventListener("beforeunload", function (e) {
    //   var confirmationMessage = "\o/";
    //   (e || window.event).returnValue = confirmationMessage;     //Gecko + IE
    //   return confirmationMessage;                                //Webkit, Safari, Chrome etc.
    // });
    var picker = new mui.PopPicker();
    var vm = new Vue({
        el: "body",
        data: {
            address: {
                name: "",
                phone: "",
                studentNo: "",
                dormId: null,
                address: "",
                isDefault: 0,
                schoolId: null
            },
            schoolList: [],
            dormList: [],
            dorm: "",
            school: ""
        },
        computed: {
            defalut: function() {
                if (this.address.isDefault == 0) {
                    return true
                } else {
                    return false
                }
            },
            empty: function() {
                if (this.address.name !== "" && this.address.phone !== "" && this.address.studentNo !== "" && this.address.school !== "" && this.address.dorm !== "" && this.address.address !== "") {
                    return false
                } else {
                    return true
                }
            }
        },
        methods: {
            setDefault: function() {
                this.address.isDefault = 1;
                this.save();
            },
            save: function() {
                var msg = this.address;
                if (!msg.name) {
                    mui.toast("请输入姓名");
                } else if (!msg.phone) {
                    mui.toast("请输入手机号码");
                } else if (!msg.studentNo) {
                    mui.toast("请输入学号");
                } else if (!msg.schoolId) {
                    mui.toast("请选择学校");
                } else if (!msg.dormId) {
                    mui.toast("请输入宿舍园区");
                } else if (!msg.address) {
                    mui.toast("请输入寝室门牌");
                } else {
                    $.when(addAddress(this.address)).done(function(data) {
                        if (data.resultCode == 200) {
                            mui.toast("保存成功");
                            mui.back();
                        }
                    });
                }
            },
            schoolChoose: function() {
                var data = [];
                var self = this;
                for (var i = 0; i < this.schoolList.length; i++) {
                    data[i] = {
                        value: this.schoolList[i].id,
                        text: this.schoolList[i].name
                    }
                }
                picker.setData(data);
                picker.show(function(selectItems) {
                    self.school = selectItems[0].text;
                    self.address.schoolId = selectItems[0].value;
                    $.when(getDormList(selectItems[0].value)).done(function(data) {
                        console.log(data);
                        if (data.resultCode == 200) {
                            self.$data.dormList = data.data.dorms
                        }
                    });
                })
            },
            dormChoose: function() {
                var data = [];
                var self = this;
                for (var i = 0; i < this.dormList.length; i++) {
                    data[i] = {
                        value: this.dormList[i].id,
                        text: this.dormList[i].campus
                    }
                }
                picker.setData(data);
                picker.show(function(selectItems) {
                    self.dorm = selectItems[0].text;
                    self.address.dormId = selectItems[0].value;
                })
            }
        },
        created: function() {
            var self = this;
            var id;
            if (window.location.search) {
                var data = getQueryData();
                if (data.id) {
                    $.when(getOneAddress(data.id)).done(function(data) {
                        console.log(data);
                        self.$data.address = data.data.address
                        $.when(getDormList(self.address.dormId)).done(function(data) {
                            console.log(data);
                            if (data.resultCode == 200) {
                                self.$data.dormList = data.data.dorms;
                                self.school=self.address.school;
                                self.dorm=self.address.dorm;
                            }
                        });
                    });
                }
            }
            $.when(getSchoolList()).done(function(data) {
                console.log(data);
                if (data.resultCode == 200) {
                    self.$data.schoolList = data.data.schools
                }
            });
        },
        ready: function() {

        }
    })
    </script>
</body>

</html>
