<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>云书</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <link rel="stylesheet" href="../source/css/index.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/mui/js/mui.pullToRefresh.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js"></script>
    <script src="../source/js/public.js"></script>
    <style>

    </style>
        <script>
    $(function() {
        mui.init();
        $(".smallCartIcon").on('tap', function(e) {
                mui.toast("添加成功");
            })
            //阻尼系数
        var deceleration = mui.os.ios ? 0.0006 : 0.0009;
        mui('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: true, //是否显示滚动条
            deceleration: deceleration
        });
        var vm = new Vue({
            el: "body",
            data: {
                histories: [],
                page: 1,
                cartList: [],
                goodsList: []
            },
            computed: {},
            methods: {
                encode: function(data) {
                    return encodeObj(data);
                },
                // 检测是否存在
                noExisted: function(id) {
                    console.log(id);
                    if (this.cartList.indexOf(id) !== -1) {
                        mui.toast("请勿重复添加");
                        return false;
                    } else {
                        return true;
                    }
                },
                // 加入购物车
                addToCart: function(id) {
                    var self = this;
                    console.log(id);
                    if (self.noExisted(id)) {
                        $.when(addToCart(id)).done(function(data) {
                            if (data.resultCode == 200) {
                                mui.toast("添加成功");
                                $.when(cartList()).done(function(data) {
                                    console.log(data);
                                    if (data.resultCode == 200) {
                                        if (data.data.carts) {
                                            self.cartList = [];
                                            for (var i = 0; i < data.data.carts.length; i++) {
                                                self.cartList.push(data.data.carts[i].relationId)
                                            }
                                        }
                                    }
                                });
                            }
                        });
                    }
                },
                seeData: function(data) {
                    return JSON.parse(JSON.stringify(data));
                }
            },
            created: function() {
                var self = this;
                var id = localStorage.getItem("id");
                $.when(getHistory(self.page, 10)).done(function(data) {
                    console.log(data);
                    self.$data.histories = data.data.histories;
                    vm.page++;
                    console.log(self.seeData(self.histories));
                });
                $.when(cartList()).done(function(data) {
                    if (data.resultCode == 200) {
                        if (data.data.carts) {
                            for (var i = 0; i < data.data.carts.length; i++) {
                                self.cartList.push(data.data.carts[i].relationId)
                            }
                        }
                    }
                });
            },
            ready: function() {

            }
        })
        mui.ready(function() {
            //循环初始化所有下拉刷新，上拉加载。
            mui.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
                mui(pullRefreshEl).pullToRefresh({
                    up: {
                        callback: function() {
                            var self = this;
                            setTimeout(function() {
                                $.when(getHistory(vm.page, 10)).done(function(data) {
                                    console.log(data);
                                    if (data.data.histories) {
                                        vm.histories = vm.histories.concat(data.data.histories)
                                        self.endPullUpToRefresh();
                                        vm.page++;
                                    } else {
                                        self.endPullUpToRefresh(true);
                                    }
                                });

                            }, 1000);
                        }
                    }
                });
            });
        });
    });
    </script>
</head>

<body>
    <div class="mui-content">
        <div class="mui-slider-group">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="margin-top: 10px;" v-for="history in histories">
                        <li class="mui-table-view-cell" v-if="history.type==0">
                            <a data-href="indexPage_textbook.html?{{encode({'bookId':history.relationId})}}">
                                <div class="mui-table">
                                    <div class="mui-table-cell mui-col-xs-3">
                                        <img style="width: 80%;" :src="history.path" />
                                    </div>
                                    <div class="mui-table-cell mui-col-xs-9">
                                        <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis">{{history.title}}</h4>
                                        <h6>作者：{{history.author}}</h6>
                                        <h6>出版社：{{history.publisher}}</h6>
                                        <span class="mui-h4 linkColor">{{history.price| currency '¥'}}</span>
                                    </div>
                                </div>
                            </a>
                            <img class="smallCartIcon" src="../source/webslice/0_common/common_add_cart.png" v-tap="addToCart(history.relationId)" />
                        </li>
                        <li class="mui-table-view-cell" v-if="history.type==1">
                            <a href="#">
                                <div class="mui-table">
                                    <div class="mui-table-cell mui-col-xs-3">
                                        <img style="width: 80%;" :src="history.path" />
                                    </div>
                                    <div class="mui-table-cell mui-col-xs-9">
                                        <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis">{{history.title}}</h4>
                                        <h6>&nbsp;</h6>
                                        <h6>颜色：{{history.color}}</h6>
                                        <span class="mui-h4 linkColor">{{history.price| currency '¥'}}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
