<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/public.js?2016"></script>
    <!-- <script src="//npmcdn.com/vue/dist/vue.min.js"></script> -->
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js"></script>
</head>

<body>
    <nav class="mui-bar mui-bar-tab" v-if="list.length">
        <a class="linkColor" data-href="userPage_userInfo_addNewAddress.html">
            添加新地址
        </a>
    </nav>
    <div class="mui-content">
        <ul class="mui-table-view address-mui-table-view" style="margin-bottom: 10px;margin-top: 10px;">
            <li class="mui-table-view-cell" v-if="!list.length">
                <a data-href="userPage_userInfo_addNewAddress.html" style="height: 70px;">
                    <div class="veryCenter">
                        <img class="mui-icon" style="width: 20px;" src="../source/images/rect.jpg" alt=""> 添加收货地址
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mui-table-view address-mui-table-view" style="margin-bottom: 10px;margin-top: 10px;" v-for="place in list">
            <li class="mui-table-view-cell">
                <div class="mui-slider-right mui-disabled">
                    <a class="mui-btn mui-btn-red removeAddressButton" data-id={{place.id}}>删除</a>
                </div>
                <a class="mui-slider-handle" v-tap="choosePlace(place.id)">
                    <div class="mui-media-body">
                        {{place.name}} {{place.phone}}
                        <p class='mui-ellipsis'>
                            <span class="mui-badge mui-badge-primary" v-if="place.isDefault==1">默认</span>
                            <span class="mui-badge mui-badge-warning" v-if="place.type==0">学校</span>
                            <span>{{place.school}}{{place.dorm}}{{place.address}}</span>
                        </p>
                    </div>
                    <a data-href="#" style="display:block;position:absolute;right:17px;top:27px" v-tap.stop.prevent="editAddress(place.id)"><img src="../source/images/edit.png" alt="" style="height:24px;width:24px;"></a>
                </a>
            </li>
        </ul>
    </div>
    <script>
    mui.init();
    $(".mui-content").on('tap', '.removeAddressButton', function() {
        var $this = $(this);
        mui.confirm("确定删除吗？", " ", ["确定", "取消"], function(data) {
            if (data.index == 0) {
                var id = $this.attr('data-id');
                console.log(id);
                // 删除
                $.when(deleteOneAddress(id)).done(function(data) {
                    console.log(data);
                    $this.closest(".mui-table-view").remove();
                });
            } else {

            }
        });
    });
    var vm = new Vue({
        el: "body",
        data: {
            list: {}
        },
        computed: {
            url: function() {
                if (this.avatar) {
                    return this.avatar
                } else {
                    return "../source/webslice/4.0_me/me_defaulthead.png"
                }
            }
        },
        methods: {
            editAddress: function(id) {
                mui.openWindow({
                    url: "userPage_userInfo_addNewAddress.html?" + encodeObj({"id":id})
                })
            },
            choosePlace: function(id) {
                if (window.location.search) {
                    var tradeNo;
                    if (getQueryData().tradeNo) {
                        tradeNo = getQueryData().tradeNo;
                    }else{
                        tradeNo = getQueryData().orderNo;
                    }
                    
                    $.when(editOrderPlace(tradeNo,id)).done(function(data) {
                        console.log(data);
                        mui.back();
                    });
                }
            }
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            $.when(getAllMyAddress()).done(function(data) {
                console.log(data);
                self.list = data.data.list
            });
        },
        ready: function() {

        }
    })
    </script>
</body>

</html>
