<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/mui_overwrite.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/mui/js/mui.pullToRefresh.js"></script>
    <script src="../source/mui/js/mui.pullToRefresh.material.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/ajax.js"></script>
    <script src="../source/js/ajax_my.js"></script>
    <style>
    .mui-control-content {
        min-height: 215px;
    }
    
    .mui-control-content .mui-loading {
        margin-top: 50px;
    }
    
    .mui-bar~.mui-content .mui-fullscreen {
        top: 44px;
        height: auto;
    }
    
    .mui-pull-top-tips {
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -25px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        z-index: 1;
    }
    
    .mui-bar~.mui-pull-top-tips {
        top: 24px;
    }
    
    .mui-pull-top-wrapper {
        width: 42px;
        height: 42px;
        display: block;
        text-align: center;
        background-color: #efeff4;
        border: 1px solid #ddd;
        border-radius: 25px;
        background-clip: padding-box;
        box-shadow: 0 4px 10px #bbb;
        overflow: hidden;
    }
    
    .mui-pull-top-tips.mui-transitioning {
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;
    }
    
    .mui-pull-top-tips .mui-pull-loading {
        /*-webkit-backface-visibility: hidden;
                -webkit-transition-duration: 400ms;
                transition-duration: 400ms;*/
        margin: 0;
    }
    
    .mui-pull-top-wrapper .mui-icon,
    .mui-pull-top-wrapper .mui-spinner {
        margin-top: 7px;
    }
    
    .mui-pull-top-wrapper .mui-icon.mui-reverse {
        /*-webkit-transform: rotate(180deg) translateZ(0);*/
    }
    
    .mui-pull-bottom-tips {
        text-align: center;
        background-color: #efeff4;
        font-size: 15px;
        line-height: 40px;
        color: #777;
    }
    
    .mui-pull-top-canvas {
        overflow: hidden;
        background-color: #fafafa;
        border-radius: 40px;
        box-shadow: 0 4px 10px #bbb;
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }
    
    .mui-pull-top-canvas canvas {
        width: 40px;
    }
    
    .mui-slider-indicator.mui-segmented-control {
        background-color: #efeff4;
    }
    </style>
</head>

<body>
    <div class="mui-content">
        <div id="slider" class="mui-slider mui-fullscreen">
            <div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                <a class="mui-control-item mui-active" href="#item1mobile">
                    全部
                </a>
                <a class="mui-control-item" href="#item2mobile">
                    待下单
                </a>
                <a class="mui-control-item" href="#item3mobile">
                    待发货
                </a>
                <a class="mui-control-item" href="#item4mobile">
                    待收货
                </a>
                <a class="mui-control-item" href="#item5mobile">
                    已完成
                </a>
            </div>
            <div class="mui-slider-group" v-cloak>
                <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                    <div id="scroll1" class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view order-table-view" v-for="order in orders" v-show="order.bookList">
                                <li class="mui-table-view-cell first">
                                    <span class="textColor" v-cloak>订单号：{{order.tradeNumber}}</span>
                                    <span class="mui-pull-right blueColor" v-cloak>{{order.orderDescribe}}</span>
                                </li>
                                <li class="mui-table-view-cell second">
                                    <a href="indexPage_textbook.html?{{book.id}}" v-for="book in order.bookList">
                                        <div class="mui-table">
                                            <div class="mui-table-cell mui-col-xs-3">
                                                <img style="width: 80%;" :src="book.path" />
                                            </div>
                                            <div class="mui-table-cell mui-col-xs-9">
                                                <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis" v-cloak>{{book.title}}</h4>
                                                <h6 v-cloak>作者：{{book.author}}</h6>
                                                <h6 v-cloak>出版社：{{book.publisher}}</h6>
                                                <span class="mui-h4 linkColor">¥0.00</span>
                                                <span class="mui-h4 mui-pull-right">×1</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell third">
                                    <span class="textColor">共一件商品，合计：</span>
                                    <span class="blueColor">{{order.bookList&&order.bookList.length>3?12:6|currency'¥'}}</span>
                                    <div class="mui-pull-right">
                                        <button data-cancelOrderButton type="button" class="mui-btn mui-btn-outlined mui-btn-short greyColor" v-if="order.orderStatus==0" @click="cancelOrder(order.tradeNumber)">
                                            取消订单
                                        </button>
                                        <a class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus==0" data-href="cartPage_orderConfirm.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            立即付款
                                        </a>
                                        <div class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus<0||order.orderStatus>3" data-href="cartPage_order_status.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            查看详情
                                        </div>
                                        <a class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus ==1||order.orderStatus ==2" data-href="cartPage_order_status.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            查看物流
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="item2mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view order-table-view" v-for="order in subOrders0" v-show="order.bookList">
                                <li class="mui-table-view-cell first">
                                    <span class="textColor" v-cloak>订单号：{{order.tradeNumber}}</span>
                                    <span class="mui-pull-right blueColor" v-cloak>{{order.orderDescribe}}</span>
                                </li>
                                <li class="mui-table-view-cell second">
                                    <a data-href="indexPage_textbook.html?{{book.id}}" v-for="book in order.bookList">
                                        <div class="mui-table">
                                            <div class="mui-table-cell mui-col-xs-3">
                                                <img style="width: 80%;" :src="book.path" />
                                            </div>
                                            <div class="mui-table-cell mui-col-xs-9">
                                                <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis" v-cloak>{{book.title}}</h4>
                                                <h6 v-cloak>作者：{{book.author}}</h6>
                                                <h6 v-cloak>出版社：{{book.publisher}}</h6>
                                                <span class="mui-h4 linkColor">¥0.00</span>
                                                <span class="mui-h4 mui-pull-right">×1</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell third">
                                    <span class="textColor">共一件商品，合计：</span>
                                    <span class="blueColor">{{order.bookList&&order.bookList.length>3?12:6|currency'¥'}}</span>
                                    <div class="mui-pull-right">
                                        <button data-cancelOrderButton type="button" class="mui-btn mui-btn-outlined mui-btn-short greyColor" v-if="order.orderStatus==0" @click="cancelOrder(order.tradeNumber)">
                                            取消订单
                                        </button>
                                        <a class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus==0" data-href="cartPage_orderConfirm.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            立即付款
                                        </a>
                                        <div class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus!==0" data-href="cartPage_order_status.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            查看详情
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="item3mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view order-table-view" v-for="order in subOrders1" v-show="order.bookList">
                                <li class="mui-table-view-cell first">
                                    <span class="textColor" v-cloak>订单号：{{order.tradeNumber}}</span>
                                    <span class="mui-pull-right blueColor" v-cloak>{{order.orderDescribe}}</span>
                                </li>
                                <li class="mui-table-view-cell second">
                                    <a href="indexPage_textbook.html?{{book.id}}" v-for="book in order.bookList">
                                        <div class="mui-table">
                                            <div class="mui-table-cell mui-col-xs-3">
                                                <img style="width: 80%;" :src="book.path" />
                                            </div>
                                            <div class="mui-table-cell mui-col-xs-9">
                                                <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis" v-cloak>{{book.title}}</h4>
                                                <h6 v-cloak>作者：{{book.author}}</h6>
                                                <h6 v-cloak>出版社：{{book.publisher}}</h6>
                                                <span class="mui-h4 linkColor">¥0.00</span>
                                                <span class="mui-h4 mui-pull-right">×1</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell third">
                                    <span class="textColor">共一件商品，合计：</span>
                                    <span class="blueColor">{{order.bookList&&order.bookList.length>3?12:6|currency'¥'}}</span>
                                    <div class="mui-pull-right">
                                        <button data-cancelOrderButton type="button" class="mui-btn mui-btn-outlined mui-btn-short greyColor" v-if="order.orderStatus==0" @click="cancelOrder(order.tradeNumber)">
                                            取消订单
                                        </button>
                                        <a class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus==0" data-href="cartPage_order_status.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            立即付款
                                        </a>
                                        <a class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus!==0&&order.orderStatus!==1" data-href="cartPage_order_status.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            查看详情
                                        </a>
                                        <a class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus ==1" data-href="cartPage_order_status.html?{{encode({'orderNo':order.tradeNumber})}}">
                                            查看物流
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="item4mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view order-table-view" v-for="order in subOrders2" v-show="order.bookList">
                                <li class="mui-table-view-cell first">
                                    <span class="textColor" v-cloak>订单号：{{order.tradeNumber}}</span>
                                    <span class="mui-pull-right blueColor" v-cloak>{{order.orderDescribe}}</span>
                                </li>
                                <li class="mui-table-view-cell second">
                                    <a href="indexPage_textbook.html?{{book.id}}" v-for="book in order.bookList">
                                        <div class="mui-table">
                                            <div class="mui-table-cell mui-col-xs-3">
                                                <img style="width: 80%;" :src="book.path" />
                                            </div>
                                            <div class="mui-table-cell mui-col-xs-9">
                                                <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis" v-cloak>{{book.title}}</h4>
                                                <h6 v-cloak>作者：{{book.author}}</h6>
                                                <h6 v-cloak>出版社：{{book.publisher}}</h6>
                                                <span class="mui-h4 linkColor">¥0.00</span>
                                                <span class="mui-h4 mui-pull-right">×1</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell third">
                                    <span class="textColor">共一件商品，合计：</span>
                                    <span class="blueColor">{{order.bookList&&order.bookList.length>3?12:6|currency'¥'}}</span>
                                    <div class="mui-pull-right">
                                        <button data-cancelOrderButton type="button" class="mui-btn mui-btn-outlined mui-btn-short greyColor" v-if="order.orderStatus==0">
                                            取消订单
                                        </button>
                                        <div class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus==0" @click="turnUrl(order.tradeNumber)">
                                            立即付款
                                        </div>
                                        <div class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus!==0" @click="turnUrl(order.tradeNumber)">
                                            查看详情
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="item5mobile" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="mui-table-view order-table-view" v-for="order in subOrders3" v-show="order.bookList">
                                <li class="mui-table-view-cell first">
                                    <span class="textColor" v-cloak>订单号：{{order.tradeNumber}}</span>
                                    <span class="mui-pull-right blueColor" v-cloak>{{order.orderDescribe}}</span>
                                </li>
                                <li class="mui-table-view-cell second">
                                    <a href="indexPage_textbook.html?{{book.id}}" v-for="book in order.bookList">
                                        <div class="mui-table">
                                            <div class="mui-table-cell mui-col-xs-3">
                                                <img style="width: 80%;" :src="book.path" />
                                            </div>
                                            <div class="mui-table-cell mui-col-xs-9">
                                                <h4 style="margin-bottom: 10px;font-size: 15px;" class="mui-ellipsis" v-cloak>{{book.title}}</h4>
                                                <h6 v-cloak>作者：{{book.author}}</h6>
                                                <h6 v-cloak>出版社：{{book.publisher}}</h6>
                                                <span class="mui-h4 linkColor">¥0.00</span>
                                                <span class="mui-h4 mui-pull-right">×1</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell third">
                                    <span class="textColor">共一件商品，合计：</span>
                                    <span class="blueColor">{{order.bookList&&order.bookList.length>3?12:6|currency'¥'}}</span>
                                    <div class="mui-pull-right">
                                        <button data-cancelOrderButton type="button" class="mui-btn mui-btn-outlined mui-btn-short greyColor" v-if="order.orderStatus==0">
                                            取消订单
                                        </button>
                                        <div class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus==0" @click="turnUrl(order.tradeNumber)">
                                            立即付款
                                        </div>
                                        <div class="mui-btn mui-btn-primary mui-btn-short" v-if="order.orderStatus!==0" @click="turnUrl(order.tradeNumber)">
                                            查看详情
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    mui.init();
    var params = getQueryData();

    //阻尼系数
    var deceleration = mui.os.ios ? 0.003 : 0.0009;
    mui('.mui-scroll-wrapper').scroll({
        bounce: false,
        indicators: true, //是否显示滚动条
        deceleration: deceleration
    });
    mui.ready(function() {
        //循环初始化所有下拉刷新，上拉加载。
        mui.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
            mui(pullRefreshEl).pullToRefresh({
                down: {
                    callback: function() {
                        var self = this;
                        setTimeout(function() {
                            var status = index == 0 ? 100 : index;
                            $.when(getOrderList(1, status)).done(function(data) {
                                if (data.data.orders) {
                                    vm.$data.orders = data.data.orders;
                                    self.endPullDownToRefresh();
                                    vm.page[index] = 2;
                                } else {
                                    self.endPullDownToRefresh(true);
                                    vm.page[index] = 1;
                                }
                            });
                        }, 1000);
                    }
                },
                up: {
                    callback: function() {
                        var self = this;
                        setTimeout(function() {
                            console.log(index);
                            if (vm.page[index] == 1) {
                                self.endPullUpToRefresh(true);
                            } else {
                                var status = index == 0 ? 100 : index;
                                $.when(getOrderList(vm.page[index], status)).done(function(data) {
                                    if (data.data.orders) {
                                        vm.$data.orders = vm.$data.orders.concat(data.data.orders);
                                        self.endPullUpToRefresh();
                                        vm.page[index]++;
                                    } else {
                                        self.endPullUpToRefresh(true);
                                    }
                                });

                            }
                        }, 1000);
                    }
                }
            });
        });
        // 根据参数进行位置初始化
        if (params) {
            if (params.orderStatus) {
                mui('.mui-slider').slider().gotoItem(params.orderStatus - 1, 0);
            }
        } else {
            mui('.mui-slider').slider().gotoItem(0, 0);
        }
    });
    var vm = new Vue({
        el: "body",
        data: {
            orders: [],
            page: [1, 1, 1, 1, 1],
            orderStatus: 100,
            subOrders0: [],
            subOrders1: [],
            subOrders2: [],
            subOrders3: [],
        },
        computed: {},
        methods: {
            encode: function(data) {
                return encodeObj(data);
            },
            cancelOrder: function(orderNo) {
                var self = this;
                mui.confirm("确定取消订单吗？", " ", ["<i class='textColor'>确定</i>", "<span>不</span>"], function(data) {
                    if (data.index == 0) {
                        $.when(cancelOrder(orderNo)).done(function(data) {
                            if (data.resultCode == 200) {
                                $.when(getOrderList(self.page, self.orderStatus)).done(function(data) {
                                    self.$data.orders = data.data.orders
                                });
                                $.when(getOrderList(self.page, 0)).done(function(data) {
                                    self.$data.subOrders0 = data.data.orders
                                });
                            }
                        });
                    } else {

                    }
                });
            },
            turnUrl: function(orderNo) {
                var URI = encodeObj({
                    "orderNo": orderNo
                });
                mui.openWindow({
                    url: "cartPage_order_status.html?" + URI
                })
            },
        },
        created: function() {
            var self = this;
            var id = localStorage.getItem("id");
            $.when(getOrderList(self.page[0], self.orderStatus)).done(function(data) {
                self.$data.orders = data.data.orders;
                self.page[0]++
            });
            for (var i = 0; i < 4; i++) {
                $.when(getOrderList(self.page[i + 1], i)).done(function(data) {
                    if (data.data.orders) {
                        self.$data["subOrders" + "" + data.data.orders[0].orderStatus] = data.data.orders;
                        self.page[data.data.orders[0].orderStatus + 1]++
                    }
                });
            }
        },
        ready: function() {

        }
    })
    </script>
</body>

</html>
